.pista{
    height: 50px;
    width: 50px;
    background-image: url(https://github.com/straviranus/escapando/blob/main/Imagenes/idea.png?raw=true);
    background-size: 100% 100%;
visibility: hidden;
}


.subir-1{
    visibility: visible;
    animation-name: subiendo ;
    animation-duration: 15s;
    animation-iteration-count: 1;
    position: relative;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
.bajar-1{
    visibility: visible;
    animation-name: bajar ;
    animation-duration: 15s;
    animation-iteration-count: 1;
    position: relative;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.subir-2{
    visibility: visible;
    animation-name: subiendo ;
    animation-duration: 15s;
    animation-iteration-count: 1;
    position: relative;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
.bajar-2{
    visibility: visible;
    animation-name: bajar ;
    animation-duration: 15s;
    animation-iteration-count: 1;
    position: relative;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.subir-1:hover{
    width: 100px;
    height: 100px;
    background-image: url(https://github.com/straviranus/escapando/blob/main/Imagenes/pista-1.png?raw=true);
    background-size: 100% 100%;
    padding: 0;
}
.bajar-1:hover{
    width: 70px;
    height: 70px;
    background-image: url(https://github.com/straviranus/escapando/blob/main/Imagenes/pista-2.png?raw=true);
    background-size: 100% 100%;
    padding: 0;
    border-radius: 30%;
}
.subir-2:hover{
    width: 100px;
    height: 100px;
    background-image: url(https://github.com/straviranus/escapando/blob/main/Imagenes/pista-3.png?raw=true);
    background-size: 100% 100%;
    padding: 0;
}
.bajar-2:hover{
    width: 100px;
    height: 100px;
    background-image: url(https://github.com/straviranus/escapando/blob/main/Imagenes/pista-4.png?raw=true);
    background-size: 100% 100%;
    padding: 0;
}
@keyframes subiendo {
0%{ top: 370px; left: 100px;opacity: 0.0; }
50%{ opacity: 1; }
100% {top: -250px; left: 100px; opacity: 0.0;}
}
@keyframes bajar {
    0%{ top: -250px; left: 100px;opacity: 0.0; }
    50%{ opacity: 1; }
    100% {top: 370px; left: 100px; opacity: 0.0;}
    }