html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton{
    display: block;
    margin: auto;
    margin-top: 150%;
    background-color: cadetblue;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#start{
    background-color: brown;
    inset-block-start: center;
    width: 700px;
    margin-left: 500px;
    background-image: url(Imagenes/eskape.png);
    background-size: 100% 100%;
    text-align: center;
}
#contenedor{
    vertical-align: middle;
    line-height: 50%;
    height: 504px;
    width: 1300px;
    display: flex;
    position: relative;
    justify-content: center;
}
#caja-1{
    height: 504px;
    width: 300px;
    
}
#caja-2{
    height: 504px;
    width: 300px;
}

#pieza{
    width: 63px;
    height: 63px;
    background-image: url(https://raw.githubusercontent.com/straviranus/imagenes-chess/master/rey.png);
    background-size: 100% 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    margin-left: 252px;
    margin-top: 441px;
    opacity: 0.0;
    top: 0;
}

.opacidad{
    animation-name: aparecer;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes aparecer{
    0%{opacity: 0.0;}
    100%{opacity: 1;}
}

.audio{
    display: none;
}
